.Card {
  width: 250px;
  padding: 10px;
  border: 2px solid #63ce5a;
}

.Card p {
  margin-top: 15px;
  hyphens: auto;
  overflow-x: hidden;
}

.Title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.Card-editor-title {
  width: 90%;
}

.Title-context {
  width: 80%;
  overflow-x: hidden;
}

.Controls {
  margin-left: auto;
}

.Card-edit-context {
  min-width: 100%;
  max-width: 100%;
  min-height: 160px;
  margin-top: 10px;
  border: 1px solid black;
}