.Card {
  width: 250px;
  padding: 10px;
  border: 2px solid #63ce5a;
  display: inline-block;
  margin: 1em;
  vertical-align: top;
  cursor: pointer;
}

.Card p {
  margin-top: 15px;
  hyphens: auto;
  overflow-x: hidden;
}

